<div class="container-fluid">
    <div class="row">
        <div class="col-12 d-flex flex-row my-3 mb-5">
            <button [routerLink]="['/pessoas/cadastrar']" class="col-6 btn btn-warning py-1">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Cadastrar Pessoa
            </button>

            <button [routerLink]="['/pessoas/pagar']" class="col-6 btn btn-success py-1">
                <i class="fa fa-money" aria-hidden="true"></i>
                Pagar
            </button>
        </div>

        <div class="col-12">
            <table class="table table-striped table-light">
                <thead>
                    <tr>
                    <th scope="col">#id</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Email</th>
                    <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pessoa of pessoas">
                    <th scope="row">{{pessoa.pessoa_id}}</th>
                    <td>{{pessoa.nome}}</td>
                    <td>{{pessoa.email}}</td>
                    <td>
                        <button [routerLink]="['/pessoas', 'pagar', pessoa.pessoa_id]" class="btn btn-success mr-2">
                            <i class="fa fa-money" aria-hidden="true"></i>
                            Pagar
                        </button>

                        <button [routerLink]="['/pessoas', 'detalhar', pessoa.pessoa_id]" class="btn btn-info mr-2">
                            <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                            Detalhar
                        </button>

                        <button [routerLink]="['/pessoas', 'editar', pessoa.pessoa_id]" class="btn btn-primary mr-2">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            Editar
                        </button>

                        <button (click)="confirmarRemover(pessoa.pessoa_id)" class="btn btn-danger mr-2">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                            Remover
                        </button>

                    </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        
    </div>
</div>



